
#wrap {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columndiv{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

.column1,
.column3{
  flex:1;
}
.column2{
  flex:2;
}

.column1{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
  gap: 1rem;
  max-width: 50vh;
  min-height: 80vh;
  overflow: visible;
}
.column1window {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr;    /* 2 rows */
  gap: 1rem;
  aspect-ratio: 1 / 1; /* makes it a square grid */
}
.column1window img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.column1window button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
}
.column1window button:hover {
  cursor: pointer;
}
.column1button {
  display: flex;
  justify-content: center;         /* vertical center */
  /* max-height: 60vh; */
  /* max-width: 50vh; */
  margin: 0 auto; 
  object-fit: contain;
  gap: 10vh;
  align-items: center;
}
.column1button button {
  object-fit: contain;
  background: transparent;
  border: none;
}
.column1button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.column1button button:hover {
  cursor: pointer;
}

.column2{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10vh;
  object-fit: contain;
  align-items: center;
}
.column2buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem; 
  justify-content: center;
}
.column2-button {
  position: relative;
  width: 80px;
  height: 80px;
  left: 33%;
  border-radius: 50%;
}
.column2-button:hover {
  cursor: pointer;
  background: white;
}
.column2section1 {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  max-height: 60vh;
  max-width: 50vh;
  margin: 0 auto;            /* center the container itself */
}
.column2section1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.column3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  padding: 5px 0;
  gap: 12px;
  background: #e78104; 
  opacity: 0.6;
  background-blend-mode: overlay;
  /* film holes */
  -webkit-mask:
    linear-gradient(#000 0 0) center/100% 100% no-repeat,
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 12px,
      #000 12px,
      #000 24px
    ) left 10px top / 16px 100% no-repeat,
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 12px,
      #000 12px,
      #000 24px
    ) right 10px top / 16px 100% no-repeat;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.column3::before,
.column3::after {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;

  font-family: monospace;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgba(0,0,0,0.8);

  writing-mode: vertical-rl; /* vertical text */
  text-orientation: mixed;
}
.column3::before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0KODAK PORTRA 400\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 22 \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0KODAK PORTRA 400\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 23 \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0KODAK PORTRA 400\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 24";
  left: 0px;
  transform: rotate(180deg);
}
.column3-button {
  position: relative;
  width: 80%;              /* inset from sprockets */
  aspect-ratio: 2 / 3;
  background-color: #e78104;
  opacity: 1;     /* darker orange frame area */
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.column3-button:hover {
  cursor: pointer;
  filter: invert(1);
}
.column3-button img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  transform: rotate(90deg);
  mix-blend-mode: multiply;
  filter:
    invert(1)
    brightness(0.9)
}