
#wrap {
  display: flex;
  flex-direction: column;
  margin: -8px;
}

#content {
  flex: 1;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.columndiv{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.column1,
.column3{
  flex:1;
}
.column2{
  flex:2;
}

.column1{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
  gap: 1rem;
  max-width: 50vh;
  min-height: 80vh;
  padding-top: 2rem;
}
.column1window {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr;    /* 2 rows */
  gap: 1rem;
  aspect-ratio: 1 / 1; /* makes it a square grid */

}
.column1window img,
.column1window button {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: 0rem;
}
.column2{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10vh;
  min-height: 80vh;
}
.me{
  justify-content: center;
  max-height: 60vh;
  max-width: 50vh;
}

.column3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right:2rem;
  max-width: 50vh;
  min-height: 80vh;
  gap: 1rem;
  padding-top: 2rem;
}

.column2buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem; 
  justify-content: center;
}
.column2-button {
  position: relative;
  width: 80px;
  height: 80px;
  left: 33%;
  border-radius: 50%;
  &:hover {
        cursor: pointer;
        background: white;
      }
}

.column3-button {
  width: 100%;
  height: 25%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background: white;
  }
}

.column3-button img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
  border: none;
      }